@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins", "sans-serif";
    color:bisque;
    background-color: hsl(13, 49%, 35%);
}
h1{
    font-size: 3.5rem;
    color: hsl(13, 49%, 35%);
}
header{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    padding-left:2rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
    box-shadow: 0 2px rgb(185, 185, 185) ;
    z-index: 1;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    width:50%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header a{
    color:  hsl(13, 49%, 35%);
}
a{
    text-decoration: none;
    color: bisque;
    font-size: large;
}
a:hover, a:active, a:focus{
    text-decoration: underline;
    font-weight: bold;
}
.buttons li{
    padding: 1rem;
}
main{
    padding: 15vh 2rem;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: space-between;
    align-content: flex-start;
    border: 2px solid bisque;
    box-shadow: 2px 2px hsl(33, 100%, 70%);
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
}
input, form button{
    width: 70%;
    background-color: bisque;
    color: hsl(13, 49%, 35%);
    box-shadow: none;
    border-style: none;
    border-radius: 0.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}
input, label, form button{
    font-size: x-large;
}
fieldset{
    border-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
form button{
    width: 20%;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
form button:hover{
    font-weight: bold;
    text-decoration: underline;
}
footer{
    min-height: 90vh;
    margin-top: 10vh;
    padding: 10vh 2rem; 
    width: 100vw;
    color: bisque;
    background-color: hsl(13, 49%, 35%);
}
.footertitles{
    list-style-type: none;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footertitles ul{
    padding-top: 1rem;
    list-style-type: none;
}
.Download, .social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer button{
    font-family: "poppins", "sans-serif";
    border-style: none;
    padding: 1rem 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: hsl(13, 49%, 35%);
}
.invalid{
    color: red;
}